/** {
	border: 1px black solid;
}*/

.center {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.panel-heading {
	text-align: center;
	font-size: 700;
}

.panel-body img {
	width: 100%;
	height: auto;
}

.row.search0 {
	margin-top: 1em;
}

/*Nice hover effect*/
.panel:hover {
	box-shadow: 0 0px 20px grey;
}



