/*Box Model Visualization*/
/** {
  border: 1px solid rgba(0, 0, 0, 0.3);
}*/

.container {
    color: black;
}

/*Future content
.navigation {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}*/

/*Future content
.navigation li {
    display: inline;
    margin: 10px 10px 0px 10px;
    padding: 5px;
}*/

.container-fluid, .row {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

div .jumbotron {
    /*background-image: url('congruent_pentagon_blue2.png');*/
    /*background-image: url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/OZ0ZJGL7D9.jpg');*/
    background-image: url('purple_sunset2.jpg');
    min-height: 500px;
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.center-header {
    margin-top: 100px;
    margin-bottom: auto;
}

.header {
    font-size: 300%;
}

h1 {
    text-decoration: underline;
    font-family: Roboto;
}

h3, h4 {
    font-weight: 200;
}

.jumbotron h2 {
    text-decoration: overline;
    font-family: Roboto;
}

.centerPBlock {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
/*    text-align: center;*/
    width: 100%;
    max-width: 600px;
}

.text-size {
    font-size: medium;
}

.center-text {
    text-align: center;
}

img {
    width: 100%;
    max-width: 500px;
}

.rounded {
    border-radius: 100%;
    /*border: 3px solid lightblue;*/
    /*box-shadow: 6px 6px 5px grey;*/
    margin-bottom: 10px;
}

#secondSection {
    margin-top: 50px;
    line-height: 2em;
}

#thirdSection {
/*    background-color: Gainsboro;*/
    background-color: white;
    text-shadow: 2px 2px 4px LightSlateGray;
    margin-top: 50px;
}

#fourthSection {
    margin-top: 50px;
    line-height: 2em;
}

.appImg {
    max-height: 500px;
    max-width: 281px;
    width: 100%;
    margin-bottom: 25px;
    border: 3px solid black;
    box-shadow: 6px 6px 5px grey;
}

.scrollFade {
    opacity: 0;
}

.green-text-blur {
    text-shadow: 2px 2px 4px LightSlateGray;
}

#fadeOne {
    color: black;
}


