/*Box Model Visualization*/
/** {
  border: 1px solid rgba(0, 0, 0, 0.3);
}*/

.container {
    color: black;
}

.navigation {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}

.navigation li {
    display: inline;
    margin: 10px 10px 0px 10px;
    padding: 5px;

}

.container-fluid, .row {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

section.jumbotron {
    /*background-image: url('congruent_pentagon_blue2.png');*/
    background-image: url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/AE55EC25F4.jpg');
    height: 30em;
    /*background-size: cover;*/
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-position: top;
    background-attachment: fixed;
    color: black;
    text-align: center;
}

h1 {
    text-decoration: underline;
    font-family: Roboto !important;
}

.jumbotron h2 {
    text-decoration: overline;
    font-family: Roboto;
}

.centerPBlock {
    font-size: medium;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
/*    text-align: center;*/
    width: 100%;
    max-width: 600px;
}

.center-text {
    text-align: center;
}

img {
    width: 100%;
/*    opacity: 0;*/
    max-width: 500px;
}

.rounded {
    border-radius: 100%;
    border: 3px solid lightblue;
    box-shadow: 6px 6px 5px grey;
    margin-bottom: 10px;
}

.container-fluid {
    margin-top: 15px;
    color: black;
}

#thirdSection {
    background-color: Gainsboro;
    text-shadow: 2px 2px 4px LightSlateGray;
}

.appImg {
    max-height: 500px;
    max-width: 281px;
    width: 100%;
    margin-bottom: 25px;
    border: 3px solid black;
    box-shadow: 6px 6px 5px grey;
}

.scrollFade {
    opacity: 0;
}

.white-text-blur {
    text-shadow: 2px 2px 8px #000000;
}

.green-text-blur {
    text-shadow: 2px 2px 4px gray;
}

#fadeOne {
    color: black;
}


