.container {
    color: black;
}

.container-fluid, .row {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

div .jumbotron {
    background-image: url('congruent_pentagon_blue2.png');
    height: 400px;
    background-size: cover;
    color: black;
}

h1 {
    text-decoration: underline;
}

.jumbotron h2 {
    text-decoration: overline;
}

section {
    
}


.centerPBlock {
    font-size: medium;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

ul {
    list-style-position: inside;
    text-align: none;
    display: inline-block;
    margin: auto;
}

li {
    display: block;
    margin: auto;
}

.center-text {
    text-align: center;
}

img {
    width: 100%;
    opacity: 0;
    max-width: 500px;
}

.rounded {
    border-radius: 100%;
    border: 3px solid lightblue;
    box-shadow: 6px 6px 5px grey;
    margin-bottom: 10px;
}

.container-fluid {
    margin-top: 15px;
    color: black;
}

#thirdSection {
    background-image: url('congruent_pentagon_blue2.png');
    text-shadow: 2px 2px 4px LightSlateGray;
}

.appImg {
    max-height: 500px;
    max-width: 281px;
    width: 100%;
    margin-bottom: 25px;
    border: 3px solid black;
    box-shadow: 6px 6px 5px grey;
}

.scrollFade {
    opacity: 0;
}

.white-text-blur {
    text-shadow: 2px 2px 8px #000000;
}

.green-text-blur {
    text-shadow: 2px 2px 4px gray;
}

.white-backed-heading {
    color: DarkCyan;
}

#fadeOne {
    color: black;
}

#eduHeader {
    color: black;
}

#spiresImg {
    max-width: 200px;
    width: 100%;
    float: right;
    border-radius: 5%;
}


